/**/
#heroSearch {
    background-image: url("../images/mountains/cadillac.jpeg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Rajdhani', sans-serif;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: -webkit-fill-available;
}

/*
Set some common styles for the body of the page
 - backgroud color to bropwn
 - text color to white
 - font to helvetica
 - font size to 16px
*/
body {
  background-color: rgb(84, 77, 153);
  color: white;
  font-family:  Helvetica, sans-serif;
  font-size: 16px;
}
main {
  background-color: #CAF0F8;
  color: #03045E;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h2 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
}

h3 {
  text-align: center;
}

/* Header items below are for the title and nav bar */
header h1 {
  color: #48CAE4;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

header a {
  color: white;
  font-size: 1.5em;
  font-family: 'Amiko', sans-serif;
}

header a:hover,
header a.active {
  color: white;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 2px solid #ffffff;
}

footer {
  background-color: #CAF0F8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

blockquote,
blockquote footer {
  background: #f9f9f9;
  background-color: #CAF0F8;
}

blockquote {
  font-size: 1.0em !important;
  color: #0077B6;
}

.card {
  width: 25rem !important;
  min-height: 250px;
}

.card-title {
  font-size: 1.2rem;
}





